<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Schedule</title>
</head>
<body>

    <div class="container">
        <h2>Hi {{name}}</h2>
        <p>We want to let you know that your scheduled payment of <b>{{currency}}{{amount}}</b> was not successful at this time, we will retry payment at later time</p>

        <small class="description">{{description}}</small>

        <small>Thank you for using our service.</small>
    </div>

</body>
</html>
